[package]
name = "git-kanban"
version = "0.1.0"
edition = "2024"

[dependencies]
ratatui = "0.29.0"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
anyhow = "1.0.100"
tui-textarea = "0.7.0"
